.sign-in, .sign-up {
  background: #F2F2F2; /* fallback for old browsers */
  background-blend-mode: overlay, hard-light, normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  border-radius: 0.3rem;


  .sign-in-form {
    width: 100%;
    padding: 0 4rem 4rem 4rem;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }

  @media screen and (max-width: 450px) {
    margin: auto 2rem;

    .sign-in-form {
      width: 100%;
      padding: 0 2rem 2rem 2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .buttons {
      grid-template-columns: 1fr;
    }
  }
}
