.sign-in, .sign-up {
  background-blend-mode: overlay, hard-light, normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: fit-content;
  border-radius: 0.3rem;

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .buttons button {
    margin: 1rem;
  }

  @media screen and (max-width: 768px) {
    .buttons {
      grid-template-columns: 1fr;
    }
  }
}
